.MovieCard {
    float: left;
    width: 300px;
    height: 520px;
    border: 20px;
    background-color: #61440b;
    display: block;
    margin: 10px;
    box-shadow: none;
    border-radius: 5px;
}

.MovieCard p {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-weight: 600;
}

.MovieCard img {
    max-width: 100%;
    max-height: 100%;
}