.GenreCard {
    box-sizing: border-box;
    color: white;
    height: 60px;
    display: flex;
    margin: 10px;
    cursor: pointer;
    align-items: center;
}

/* .GenreCard span {
    box-sizing: border-box;
    display: block;
    padding-top: 2vh;
    padding-left: 2vw;
} */