.Sidebar {
    display: flex;
    width: 16.6vw;
    margin: 0 auto;
    color: #fff;
    z-index: 1000;
    left: 0;
    top: 0;
    position: sticky;
}

@media(max-width:1500px) {
    .Sidebar {
        display: none;
    }
}

.Sidebar .Title {
    margin: 0;
    font-style: oblique;
    font-size: 29px;
    color: #e00073;
}

.Sidebar nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
}

.Sidebar .Search {
    display: inline-flex;
    margin: 15px 0 30px 0;
}

.Sidebar img {}

.Sidebar .Icon {
    -moz-transform: rotate(105deg);
    -ms-transform: rotate(105deg);
    -o-transform: rotate(105deg);
    -webkit-transform: rotate(105deg);
    transform: rotate(105deg);
}